.footer {
    position: relative;
    width: 100%;
    height: auto;
    font-family: "Lilita One", serif;
    box-sizing: border-box;
}

.container-footer{
    background: #FFF300;
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: start;
    flex-wrap: wrap;
    color: aliceblue;
    overflow: hidden;
}

.container-footer h2{
    text-align: left;
    font-size: 22px;
    text-shadow: 
        1px 1px  black, /* Sombra abajo derecha */
        -1px 1px  black, /* Sombra abajo izquierda */
        1px -1px  black, /* Sombra arriba derecha */
        -1px -1px  black; /* Sombra arriba izquierda */
}

.container_categoria,
.container_contactanos,
.container_redes_footer{
    margin-top: 60px;
    margin-bottom: 150px;
    text-align: left;
    z-index: 5;
}

/************CATEGORIAS************/

.container_categoria{
    display: flex;
    justify-content: start;
    flex-direction: column;
}

.container-footer .container_categoria h2{
    margin-bottom: -15px;
}

.container_contactanos ul,
.container_categoria ul{
    list-style: none;
    padding: initial; /*Permite que la lista este en la parte inicial, ignirando el punto*/
}

.container_contactanos ul li,
.container_categoria ul li{
    margin: 15px 0;
}

.container_contactanos ul li a,
.container_categoria ul li a{
    font-size: 20px;
    text-decoration: none;
    color: aliceblue;
    left: 0;
}

/************CONTACTANOS************/
.container_contactanos{
    text-align: left;
}
/************REDES SOCIALES************/
.container_redes_footer{
    
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;   
}

.redes_sociales{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.redes_sociales img{
    cursor: pointer;
}

.cuadrado_de_redes_sociales{
    width: 40px;
    height: 40px;
    background: #ffd900;
    border: 3px solid #FABB00;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 8px;
    transition: all .5s ease;
}

.cuadrado_de_redes_sociales:hover{
    border: 3px solid #EC5E41;
}

.instagram{
    width: 50px;
}

.facebook{
    width: 30px;
}

.youtube{
    width: 35px;
}

.tik_tok{
    width: 31px;
}

.twitter{
    width: 25px;
}

.spotify{
    width: 35px;
}

/************BORDES************/

/************BORDES VERTICALES************/
.borde-vertical {
    z-index: 2;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #1C2657;
    width: 55px;
    height: 100%;
    overflow: hidden; /* Oculta las palabras fuera del contenedor */
}

.borde-vertical.b {
    right: 0;
}

/* Contenedor de las palabras que se animarán infinitamente */
.borde-vertical .container-palabras {
    z-index: 34;
    display: flex;
    flex-direction: column;
    justify-content: flex-start; /* Comienza desde la parte superior */
    align-items: center;
    animation: scroll-vertical-tira-a 10s linear infinite; /* Ajusta la duración según el contenido */
    -webkit-animation: scroll-vertical-tira-a 10s linear infinite;
    width: 100%;
}

.borde-vertical.b .container-palabras {
    animation: scroll-vertical-tira-b 10s linear infinite; 
    -webkit-animation: scroll-vertical-tira-b 10s linear infinite;
}

footer .container-palabras span {
    writing-mode: vertical-rl; /* Orienta el texto verticalmente de derecha a izquierda */
    color: #F26144;
    font-size: 25px;
    font-weight: 800;
    margin: 5px 0; /* Espaciado entre palabras */
    width: var(--width);
    pointer-events: none;
}

/*Se da vuelta la tira de la derecha (Por si lo necesitamos)*/

/*
.borde-vertical.b .container-palabras {
    transform: rotate(180deg); /* Voltea el contenedor verticalmente
}

.borde-vertical.b .container-palabras span {
    transform: rotate(180deg); /* Voltea las palabras nuevamente para que se lean correctamente 
}

*/


/* Animación para desplazar de arriba hacia abajo */
@keyframes scroll-vertical-tira-a  {
    0% {
        transform: translateY(-30%); /* Comienza desde la parte superior del contenido duplicado */
    }
    100% {
        transform: translateY(0%); /* Termina justo cuando el contenido duplicado ocupa el espacio */
    }
}

@keyframes scroll-vertical-tira-b  {
    0% {
        transform: translateY(0%); /* Comienza desde la parte superior del contenido duplicado */
    }
    100% {
        transform: translateY(-30%); /* Termina justo cuando el contenido duplicado ocupa el espacio */
    }
}

/************BORDES HORIZONTALES************/

.borde-horizontal {
    z-index: 1;
    position: absolute;
    background: #1C2657;
    width: 100%;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden; /* Oculta las palabras fuera del contenedor */
}

.container-paralelogramo{
    display: flex;
    flex-direction: row;
    height: 100%;
    animation: scroll-horizontal 3s linear infinite; 
    -webkit-animation: scroll-horizontal 3s linear infinite;
}

.paralelogramo{
    width: 45px;
    transform: skew(40deg);
    background: #F26144;
    margin: 0 25px;
}


.borde-horizontal.b{
    bottom: 0;
}

.borde-horizontal.b .container-paralelogramo{
    animation: scroll-horizontal-b 3s linear infinite; 
    -webkit-animation: scroll-horizontal-b 3s linear infinite;
}

.borde-horizontal.b .container-paralelogramo .paralelogramo{
    transform: skew(-40deg);
}


@keyframes scroll-horizontal {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(-15%); /* Mueve todo el contenedor hacia la izquierda */
    }
}

@keyframes scroll-horizontal-b {
    0% {
        transform: translateX(-15%);
    }
    100% {
        transform: translateX(0%); /* Mueve todo el contenedor hacia la izquierda */
    }
}

.container_onda {
    position: absolute;
    width: 100%;
    height: 200px;
    background: #F7D502;
    transform: rotate(65deg); /* Elimina la rotación para que no se salga */
    bottom: 0; /* Asegura que se mantenga dentro del footer */
    opacity: .5;
}

.onda_amarrilla:nth-child(2){
    transform: rotate(180deg);
}

.container_onda:nth-child(2){
    transform: rotate(100deg); /* Elimina la rotación para que no se salga */
    margin-left: 500px;
}

.container_onda:nth-child(3){
    transform: rotate(100deg); /* Elimina la rotación para que no se salga */
    margin-right: 800px;
}

.container_onda:nth-child(4){
    width: 60%;
    height: 200px;
    transform: rotate(-110deg); /* Elimina la rotación para que no se salga */
    margin-right: 1200px;
}

.container_onda:nth-child(5){
    transform: rotate(-110deg); /* Elimina la rotación para que no se salga */
    margin-left: 1200px;
    margin-bottom: 200px;
}


@media (max-width: 1150px) {

    .container-footer h2{
        font-size: 20px;
    }

    .cuadrado_de_redes_sociales{
        width: 35px;
        height: 35px;
        flex-wrap: wrap;
    }

    .instagram{
        width: 45px;

    }
    
    .facebook{
        width: 25px;
    }
    
    .youtube{
        width: 30px;
    }
    
    .tik_tok{
        width: 30px;
    }
    
    .twitter{
        width: 20px;
    }
    
    .spotify{
        width: 30px;
    }

    /************BORDES************/

    /************BORDES VERTICALES************/
    .borde-vertical {
        width: 45px;
    }

    .borde-horizontal {
        height: 40px;
    }
}

@media (max-width: 1070px) {

}

@media (max-width: 768px){


    .container-footer{
        flex-direction: column;
        text-align: center;
    }

    .container_categoria, 
    .container_contactanos, 
    .container_redes_footer {
        margin: 25px 0;
        margin-left: 65px;
        padding: 10px 0;
    }

    

}

@media (max-width: 500px) {
    

    .container-footer h2{
        font-size: 18px;
    }

    .container_contactanos ul li a,
    .container_categoria ul li a{
        font-size: 15px;
    }

    .cuadrado_de_redes_sociales{
        width: 30px;
        height: 30px;
    }

    .instagram{
        width: 40px;
        height: 35px;
    }
    
    .facebook{
        width: 22px;
    }
    
    .youtube{
        width: 27px;
    }
    
    .tik_tok{
        width: 27px;
    }
    
    .twitter{
        width: 18px;
    }
    
    .spotify{
        width: 28px;
    }

    /************BORDES************/

    /************BORDES VERTICALES************/
    .borde-vertical {
        width: 40px;
    }

    footer .container-palabras span {
        font-size: 18px;
    }

    /************BORDES HORIZONTALES************/

    .borde-horizontal {
        height: 35px;
    }

    .paralelogramo{
        width: 43px;
    }
}