/* Header2 */

.header2 {  
    top: 0; /* Pega el header en la parte superior de la ventana */
    background: #F1C40F;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 200px;
}

.menu_hamburguesa{
    display: none;
}

.container_logo_ooaaa{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.logo-UPDR{
    width: 120px;
    height: auto;
    margin: 0 10px;
    cursor: pointer;
    transition: ease 0.3s;
}

.logo-UPDR:hover{
    transform: rotate(-12deg);
}
/*****************************BUSCADOR*****************************/

.container-buscador{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    box-sizing: border-box; 
    position: relative;
}

.buscador {
    border: none;
    border-radius: 50px;
    padding: 10px;
    width: 100%;
    min-width: 200px;
    max-width: 350px;
    height: 30px;
    color: #F1C40F;
    padding-right: 50px; /* Espacio extra a la derecha para la lupa */
  }

.buscador::placeholder{
    color: #F1C40F;
    font-size: 16px;
}

.buscador:focus{
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
    outline: none; 
}

.lupa {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%); /* Ajuste adicional para centrar verticalmente */
    width: 40px;
    height: 40px;
    cursor: pointer;
}

/**********************************************************/

.container-el-OAAA{
    display: flex;
    gap: 15px;
}

.OOAAA{
    font-weight: 900;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    transform: rotate(-12deg);
    color: aliceblue;
}

.OO{
    color: #453F9E;
}

.AAA{
    color: #F26144;
}

.container-OOAAA{
    background-color: #453F9E;
    border: 4px solid #F26144;
    position: relative;
    border-radius: 30px;
    width: 140px;
    height: 60px;
}

.boton-OOAAA{
    position: absolute;
    top: 0;
    left: 0;
    transform: scale(.9);
    width: 60px;
    height: 60px;
    cursor: pointer;
    transition: transform 0.5s ease, left 0.5s ease;
}

.boton-OOAAA.mover-derecha{
    left: 80px;
}

/**********************************************************/

.container-opciones{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 35px;
    margin-right: 35px;
}

.opcion{
    width: 40px;
    margin-bottom: 5px;
}

.container-ayuda{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
}


.container-usuario{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
}


.container-carrito{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
    cursor: pointer;
}

p{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: aliceblue;
    margin: 0;
}

@media (max-width: 1110px){

    .header2{
        margin-top: 0;
    }

    .logo-UPDR{
        width: 100px;
    }

    .container-opciones{
        display: none;
    }

    .menu_hamburguesa{
        display: block;
        cursor: pointer;
        width: 50px;
        margin-left: 20px;
    }

    .container-opciones{
        display: flex;
        justify-self: end;
    }

    .container-usuario{
        display: none;
    }

    .container-ayuda{
        display: none;
    }

    /* Carrito a la derecha */
    .container-carrito {
        cursor: pointer;
    }

    .carrito{
        width: 55px;
    }

    .container-carrito p{
        display: none;
    }

}

@media (max-width: 880px){

    .header2 {
        position: sticky;
        display: grid;
        grid-template-columns: repeat(3, 1fr); /* Una sola columna para el layout en móvil */
        grid-template-rows: repeat(2, 1fr); /* Cuatro filas para los elementos */
        height: auto;
        align-items: flex-start;
    }

    .menu_hamburguesa{
        display: block;
        cursor: pointer;
        width: 60px;
        grid-row: 2 / 3;
    }

    .container_logo_ooaaa{
        grid-column: 2 / 3;
        grid-row: 1 / 3;
        justify-content: center;
        align-items: center;
        display: flex;
    }

    .logo-UPDR{
        width: 100px;
    }

    .OOAAA{
        font-size: 25px;
    }

    .container-OOAAA{
        background-color: #453F9E;
        border: 4px solid #F26144;
        position: relative;
        border-radius: 30px;
        width: 140px;
        height: 55px;
    }
    
    .boton-OOAAA{
        position: absolute;
        transform: scale(.8);
        width: 55px;
        height: 55px;
        cursor: pointer;
        transition: transform 0.5s ease, left 0.5s ease;
    }
    
    .boton-OOAAA.mover-derecha{
        left: 80px;
    }

    /* El input de búsqueda debajo de logo y botón OOAA */
    .container-buscador {
        grid-column: 1 / -1; 
        width: 100%;
        box-sizing: border-box;
        margin-top: 20px;
    }

    .buscador {
        max-width: 600px;
        height: 30px;
        margin-bottom: 10px;
    }

    .buscador::placeholder{
        font-size: 20px;
    }

    .lupa{
        right: 80px;
        width: 50px;
        height: 50px;
    }

    /* Logo y botón OOAA centrados */
    .container-el-OAAA {
        justify-content: center;
        align-items: center;
        flex-direction: column; /* Poner el logo y el botón en fila */
    }

    .container-opciones{
        grid-column: 3 / 3;
        grid-row: 2 / 2;
        justify-self: end;
    }

    .container-usuario{
        display: none;
    }

    .container-ayuda{
        display: none;
    }

    /* Carrito a la derecha */
    .container-carrito {
        margin-left: 30px;
    }

    .carrito{
        width: 70px;
    }

    .container-carrito p{
        display: none;
    }

}

@media (max-width: 685px){

    .header2 {
        height: 250px;
    }

    .logo-UPDR{
        width: 80px;
    }

    .menu_hamburguesa{
        width: 40px;
    }


    .container-OOAAA{
        width: 135px;
        height: 55px;
    }
    
    .boton-OOAAA{
        position: absolute;
        transform: scale(.8);
        width: 55px;
        height: 55px;
    }
    
    
    /* El input de búsqueda debajo de logo y botón OOAA */
    .container-buscador {
        width: 100%;
        box-sizing: border-box;
        margin-top: 10px;
    }

    .buscador {
        padding: 10px;
        max-width: 400px;
        height: 40px;
    }

    .buscador::placeholder{
        font-size: 20px;
    }

    .lupa{
        right: 30px;
        width: 50px;
        height: 50px;
    }

    .carrito{
        width: 50px;
    }
}

@media (max-width: 450px){

    .header2 {
        height: 220px;
    }

    .logo-UPDR{
        margin-top: 15px;
        width: 80px;
    }

    .container-OOAAA{
        width: 100px;
        height: 35px;
    }

    .container-el-OAAA{
        padding: 0;
        gap: 5px;
        margin-top: 10px;
    }

    .boton-OOAAA{
        transform: scale(.7);
        width: 35px;
        height: 35px;
    }

    .boton-OOAAA.mover-derecha{
        left: 60px;
    }


    .buscador {
        max-width: 350px;
        height: 30px;
    }

    .buscador::placeholder{
        font-size: 15px;
    }

    .lupa{
        right: 40px;
        width: 35px;
        height: 35px;
    }

    .carrito{
        width: 40px;
    }

    .menu_hamburguesa{
        width: 40px;
    }

}

@media (max-width: 390px){
        
    .header2{
        height: 220px;
    }
    
    .container-el-OAAA{
        gap: 0;
    }

    .logo-UPDR{
        margin-top: 20px;
        width: 70px;
    }

    .buscador {
        margin-bottom: 30px;
        max-width: 270px;
        height: 30px;
    }

    .buscador::placeholder{
        font-size: 14px;
    }

    .container-carrito {
        margin-left: 10px;
    }
}

@media (max-width: 360px){

    .OOAAA{
        font-size: 20px;
    }

    .buscador {
        margin-bottom: 20px;
        max-width: 260px;
        height: 25px;
    }

    .container-OOAAA{
        width: 80px;
    }

    .logo-UPDR{
        width: 60px;
    }

    .boton-OOAAA{
        transform: scale(.6);
        width: 35px;
        height: 35px;
    }

    .boton-OOAAA.mover-derecha{
        left: 45px;
    }

    .carrito{
        width: 30px;
    }

    .menu_hamburguesa{
        width: 30px; 
    }
}

@media (max-width: 330px){


    .buscador {
        margin-bottom: 30px;
        max-width: 260px;
        height: 25px;
    }

}