.header1 {
    position: relative;
    width: 100%;
    background: #C0392B;
    height: 50px; /* Ajusta la altura según lo que necesites */
    display: flex;
    justify-content: start;
    align-items: center;
}

.container_redes{
    display: flex;
    justify-content: center;
    align-items: center;
}

.redes{
    cursor: pointer;
}

.redes.instagram{
    width: 50px;
}

.redes.facebook{
    width: 30px;
    margin-right: 7px;
}

.redes.youtube{
    width: 35px;
}

.redes.tiktok{
    width: 31px;
    margin-left: 7px;
}

.redes.x{
    width: 25px;
    margin-left: 7px;
}

.redes.spotify{
    width: 35px;
    margin-left: 7px;
}

@media (max-width: 1110px){
    .header1{
        display: none;
    }
}