.seccion1 {
    font-family: "Inter", serif;
    width: 100%;
    height: 700px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; 
}

.container_titulo {
    position: relative;
    text-align: center;
    z-index: 2;
    margin-bottom: 65px;
    transform: rotate(-3deg);
}

.container_titulo h1 {
    color: #e7e6e2;
    font-size: 45px;
    font-family: "Inter", serif;
}

.container_titulo img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 550px;
    height: 250px;
    z-index: -1;
}

/*********************SLIDER*********************/

.slider {
    width: 90%;
}

.slick-slide div {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 10px 8px;
    margin-right: 20px;
}

/* FLECHAS DEL SLIDER */
.slick-prev,
.slick-next {
    position: absolute;
    z-index: 10;
    transition: color 0.3s ease-in-out; /* Animación de cambio de color */
}

.slick-prev {
  left: -55px !important; /* Ajusta la posición izquierda */
}

.slick-next {
  right: -20px !important; /* Ajusta la posición derecha */
}

/* Estilos normales de las flechas */
.slick-prev::before,
.slick-next::before {
    color: rgb(0, 0, 0) !important; /* Color normal */
    font-size: 60px !important; /* Ajusta el tamaño */
    transition: color 0.3s ease-in-out; /* Animación suave */
}

/* Cuando pasas el mouse sobre la flecha */
.slick-prev:hover::before,
.slick-next:hover::before {
  color: #9e9e9e !important; /* Cambia a amarillo al hacer hover */
}

/*********************TARJETA PRODUCTO*********************/

.producto{
    position: relative;
    background: #fff;
    height: 350px;
    border-radius: 20px;
    box-shadow: 0 0 2px 4px #a09b9b;
}


.producto img {
    width: 100%; 
    height: 200px;
    object-fit: cover;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom: 5px solid #F1C40F;
    transition: transform 0.3s ease; 
}


.titulo_producto{
    font-size: 18px;
    font-weight: 400;
    color: rgb(156, 156, 156);
}

.precio{
    font-size: 17px;
    color: #F1C40F;
}

.producto button{
    border: 0;
    outline: none;
    width: 100px;
    height: 35px;
    border-radius: 20px;
    margin: 0 5px;
    font-weight: 700;
    color: #fff;
    cursor: pointer;
    transition: .5s ease;
}

.btn-comprar{
    background: #453F9E;
}

.btn-comprar:hover{
    color: #e4d9d9;
    background: #6057d6;
}


.btn-ver{
    background: #F26144;
}

.btn-ver:hover{
    color: #e4d9d9;
    background: #fd7054;
}


@media (max-width: 960px){
    .seccion1{
        padding-top: 200px;
    }
}