body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*Para la barra de scroll*/

::-webkit-scrollbar{
  width: 15px;
  height: 15px;
}

::-webkit-scrollbar-track{
  background: #F1C40F;
}

::-webkit-scrollbar-thumb{
  background: #453F9E;
  border-radius: 10px;
}