body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.sticky-container {
  position: sticky;
  top: 0;
  z-index: 1000;
}


/*Para la barra de scroll*/

::-webkit-scrollbar{
  width: 15px;
  height: 15px;
}

::-webkit-scrollbar-track{
  background: #F1C40F;
}

::-webkit-scrollbar-thumb{
  background: #453F9E;
  border-radius: 10px;
}

.prueba{
  margin-top: 110px;
  background: #F7D502;
  width: 100%;
  height: 500px;
  position: relative;
}

.container_novedades{
  display: flex;
  justify-content: center;
}

.prueba h1{
  font-size: 50px;
  position: absolute;
  color: aliceblue;
}

.prueba .amarrillo{
  position: absolute;
  bottom: 0;
  left: 0;
  transform: translateY(95%);
  width: 100%;
  z-index: 2;
}

.prueba .amarrillo:nth-of-type(2) {
  transform: rotate(180deg) translateY(90%);
  top: 0;
  z-index: 2;
}

.prueba .azul {
  position: absolute;
  bottom: 0;
  z-index: 1;
  transform: translateY(120%);
  width: 100%;
}

.prueba .segunda-azul {
  transform: rotate(180deg) translateY(120%);
  top: 0;
  z-index: 1;
}


.prueba .naranja{
  position: absolute;
  bottom: 0;
  z-index: 0;
  transform: translateY(140%);
  width: 100%;
}

.prueba .segunda-naranja {
  transform: rotate(180deg) translateY(140%);
  top: 0;
  z-index: 0;
}